.app {
  background-image: url(/bg?size=m);
  background-size: cover;
  background-position: center;
}

@media (min-width: 1366px) and (max-width: 1919px) {
  .app {
    background-image: url(/bg?size=768);
  }
}

@media (min-width: 1920px) and (max-width: 2559px) {
  .app {
    background-image: url(/bg?size=1080);
  }
}

@media (min-width: 2560px) {
  .app {
    background-image: url(/bg?size=uhd);
  }
}
