<div id="app">
  <div class="header">
    <a :href="prevUrl" :class="{'no-action': !prevUrl}" class="btn"><span>上一话</span></a>
    <span class="title">{{ title }}</span>
    <a :href="nextUrl" :class="{'no-action': !nextUrl}" class="btn"><span>下一话</span></a>
    <select v-model="mode" @change="selectMode">
      <option :value="ComicDirection.LTR">正常模式</option>
      <option :value="ComicDirection.RTL">日漫模式</option>
      <option :value="ComicDirection.TTB">条漫模式</option>
    </select>
    <template v-if="canWhitePage">
      <a v-if="!hasWhitePage" class="btn" @click="() => toggleWhitePage()"><span>增加空白页</span></a>
      <a v-else class="btn" @click="() => toggleWhitePage()"><span>移除空白页</span></a>
    </template>
    <template v-else>
      <span style="margin-left: 15px;color: white;">{{currentImageCount}} / {{ totalImageCount }}</span>
    </template>
  </div>
  <div
    class="images"
    tabindex="0"
    :class="mode"
  >
    <template v-for="(image, index) of images">
      <div v-if="hasWhitePage && whitePageIndex === index">
        <img
          :src="image"
          class="white-page"
        />
      </div>
      <div>
        <img
          class="comic"
          :src="image"
          :index="index"
          @load="(e) => imageLoaded(e, index)"
        />
      </div>
    </template>
  </div>
  <div
    class="hint-container"
    :class="zone.names"
    v-for="zone of ActionZones"
    @click="() => onActionZoneClick(zone)"
    @wheel.stop="onActionZoneWheel"
  >
    <div v-if="zone.names.includes(ClickAction.PREV_PAGE)">上一页</div>
    <div v-if="zone.names.includes(ClickAction.NEXT_PAGE)">下一页</div>
  </div>
</app>
