:root {
  --header-label-color: rgba(255, 255, 255, 0.95);
  --header-height: 30px;
  --image-max-height: calc(100vh - var(--header-height));
  --action-btn-label-color: rgba(255, 255, 255, 0.95);
  --action-btn-bg-color: rgba(0, 0, 0, 0.2);
  --action-btn-height: 100px;
  --action-btn-width: 100px;
  --action-btn-border-radius: 100px;
  --action-btn-only-height: 30vh;
  --action-btn-only-width: 95px;
}

#app {
  overflow: hidden;
  height: 100vh;
}

#app .header {
  height: var(--header-height);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app .header:hover ~ .hint {
  display: none;
}

#app .header span {
  color: var(--header-label-color);
}

#app .header .btn {
  min-width: 80px;
}

#app .header  .btn.no-action {
  visibility: hidden;
}

#app .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  height: var(--image-max-height);
}

#app .images.rtl {
  flex-direction: row-reverse;
}

#app .images div {
  height: var(--image-max-height);
}

#app .images.ttb div {
  height: auto;
  width: 90vw;
}

#app .images .white-page {
  visibility: hidden;
}

#app .hint-container {
  position: absolute;
  height: var(--hint-action-zone-height, var(--image-max-height));
  top: var(--hint-action-zone-top, var(--header-height));
  display: flex;
  width: calc(100vw * 0.3);
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

#app .hint-container.left {
  left: 0;
  justify-content: flex-start;
}

#app .hint-container.right {
  right: 0;
  justify-content: flex-end;
}

#app .hint-container.top {
  --hint-action-zone-top: var(--header-height);
  --hint-action-zone-height: calc(var(--image-max-height) * 0.4);

  align-items: flex-start;
}

#app .hint-container.bottom {
  --hint-action-zone-top: calc(var(--header-height) + var(--image-max-height) * 0.4);
  --hint-action-zone-height: calc(var(--image-max-height) * 0.6);

  align-items: flex-end;
}

#app .hint-container > div {
  display: none;
  padding: 20px;
  border-radius: var(--action-btn-border-radius);
  height: var(--action-btn-height);
  width: var(--action-btn-width);
  color: var(--action-btn-label-color);
  background-color: var(--action-btn-bg-color);
  box-shadow: var(--action-btn-shadow-x, 0) var(--action-btn-shadow-y, 0) 18px var(--action-btn-bg-color);
}

#app .hint-container:hover > div {
  display: flex;
}

#app .hint-container.left > div {
  --action-btn-shadow-x: 10px;

  justify-content: flex-start;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#app .hint-container.right > div {
  --action-btn-shadow-x: -10px;

  justify-content: flex-end;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#app .hint-container.top > div {
  --action-btn-shadow-y: 10px;

  align-items: flex-start;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#app .hint-container.bottom > div {
  --action-btn-shadow-y: -10px;

  align-items: flex-end;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#app .hint-container:not(.top):not(.bottom) > div {
  align-items: center;
  height: var(--action-btn-only-height);
  width: var(--action-btn-only-width);
}
