:root {
  --header-label-color: rgba(255, 255, 255, 0.95);
  --header-height: 30px;
  --image-max-height: calc(100vh - var(--header-height));
  --action-btn-label-color: rgba(255, 255, 255, 0.95);
  --action-btn-bg-color: rgba(0, 0, 0, 0.2);
  --action-btn-height: 100px;
  --action-btn-width: 100px;
  --action-btn-border-radius: 100px;
  --action-btn-only-height: 30vh;
  --action-btn-only-width: 75px;
}

#app {
  overflow: hidden;
  height: 100vh;
}

#app .header {
  height: var(--header-height);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app .header span {
  color: var(--header-label-color);
}

#app .header .btn {
  min-width: 80px;
}

#app .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  height: var(--image-max-height);
}

#app .images div {
  height: var(--image-max-height);
}

#app .images.ttb div {
  height: auto;
  width: 90vw;
}

#app .hint {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 15px;
  height: var(--action-btn-height);
  width: var(--action-btn-width);
  background-color: var(--action-btn-bg-color);
  border-radius: var(--action-btn-border-radius);
  box-shadow: var(--action-btn-shadow-x, 0) var(--action-btn-shadow-y, 0) 18px var(--action-btn-bg-color);
}

#app .hint.top {
  --action-btn-shadow-y: 10px;

  top: var(--header-height);
  align-items: flex-start;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#app .hint.bottom {
  --action-btn-shadow-y: -10px;

  bottom: 0;
  align-items: flex-end;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#app .hint:not(.top):not(.bottom) {
  height: var(--action-btn-only-height);
  width: var(--action-btn-only-width);
  top: calc((100vh - var(--action-btn-only-height)) / 2);
}

#app .hint.left {
  --action-btn-shadow-x: 10px;

  left: 0;
  justify-content: flex-start;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#app .hint.right {
  --action-btn-shadow-x: -10px;

  right: 0;
  justify-content: flex-end;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#app .hint div {
  color: var(--action-btn-label-color);
}
