.direction-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-height: var(--body-height);
  overflow-y: scroll;
}

.wrapper {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  order: attr(data-index number)
}

:is(.ltr, .rtl).direction-wrapper {
  scroll-snap-type: y mandatory;
}
:is(.ltr, .rtl) .wrapper {
  height: var(--body-height);
  scroll-snap-align: center;
}

*:not(:is(.ltr, .rtl)) > .wrapper:has(> .white-page) {
  display: none;
}

/* #region 单列时 */
@media (max-aspect-ratio: 5 / 3) {
  .wrapper:has(> .white-page) {
    display: none;
  }
}
/* #endregion 单列时 */

/* #region 多列时 */
@media (min-aspect-ratio: 5 / 3) {
  :is(.ltr, .rtl) .wrapper:has(> .portrait) {
    flex-basis: 50%;
  }
  .ltr .wrapper:has(> .portrait):nth-of-type(odd),
  .rtl .wrapper:has(> .portrait):nth-of-type(even) {
    justify-content: flex-end;
    padding-left: 5px;
  }
  .ltr .wrapper:has(> .portrait):nth-of-type(even),
  .rtl .wrapper:has(> .portrait):nth-of-type(odd) {
    justify-content: flex-start;
    padding-right: 5px;
  }
}
/* #endregion 多列时 */

/* #region 两列时 */
@media (min-aspect-ratio: 5 / 3) and (max-aspect-ratio: 9 / 3) {
  :is(.ltr, .rtl) .wrapper:has(> .white-page):nth-last-child(2),
  :is(.ltr, .rtl) .wrapper:has(> .white-page):nth-last-child(2) + .wrapper:has(> .white-page) {
    display: none;
  }
}
/* #endregion 两列时 */

/* #region 四列时 */
@media (min-aspect-ratio: 9 / 3) {
  :is(.ltr, .rtl) .wrapper:has(> .portrait) {
    flex-basis: 25%;
  }
}
/* #endregion 四列时 */

