:root {
  --header-height: 30px;
  --body-height: calc(100dvh - var(--header-height));
  --image-group-padding: calc(var(--body-height) / 6 * 5);
}

#app {
  grid-template-rows: var(--header-height) auto;
}
